[submodule "dynhuff/DYNAMIC"]
	path = dynhuff/DYNAMIC
	url = git@github.com:xxsds/DYNAMIC.git
[submodule "dynhuff/hopscotch-map"]
	path = dynhuff/hopscotch-map
	url = git@github.com:Tessil/hopscotch-map.git
