[submodule "dynhuff/hopscotch-map"]
	path = dynhuff/hopscotch-map
	url = git@github.com:Tessil/hopscotch-map.git
[submodule "dynhuff/DYNAMIC"]
	path = dynhuff/DYNAMIC
	url = git@github.com:saskeli/DYNAMIC.git
[submodule "dynhuff/ditvector"]
	path = dynhuff/ditvector
	url = git@github.com:zMoooooritz/ditvector.git
